<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>ListaVIP</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<div class="jumbotron" style="width: 60%; margin: 1% auto; padding-top: 30px;">
		<div class="alert alert-primary" role="alert" style="text-align: center;">
  			<span style="text-align: center;">Preencha as informações abaixo.</span>
		</div>
		<form th:object="${convidado}" th:action="@{/salvarCandidato}" method="POST">
			<div class="form-group">
				<label for="nome" >Nome completo</label> 
				<input type="text" class="form-control input-sm" th:field="*{nome}"  placeholder="Nome" />
			</div>
			<div class="form-group">
				<label for="email">E-mail</label>
				<input type="email" class="form-control input-sm" th:field="*{email}"  placeholder="Email" />
			</div>
			<div class="form-group">
				<label for="telefone">Telefone</label>
				<input type="text" class="form-control input-sm" th:field="*{telefone}"  placeholder="Telefone" />
			</div>
			<button type="submit" class="btn btn-success">Convidar</button>
			<a th:href="@{/listaconvidados}" class="btn btn-outline-secondary">Cancelar</a>
		</form>
	
	</div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	
</body>
</html>